/* Peças brancas */

.white.rook {
  content: url(/image/white_rook.png);
}

.white.horse {
  content: url(/image/white_horse.png);
}

.white.bishop {
  content: url(/image/white_bishop.png);
}

.white.queen {
  content: url(/image/white_queen.png);
}

.white.king {
  content: url(/image/white_king.png);
}

.white.pawn {
  content: url(/image/white_pawn.png);
}

/* Peças pretas */

.dark.rook {
  content: url(/image/dark_rook.png);
}

.dark.horse {
  content: url(/image/dark_horse.png);
}

.dark.bishop {
  content: url(/image/dark_bishop.png);
}

.dark.queen {
  content: url(/image/dark_queen.png);
}

.dark.king {
  content: url(/image/dark_king.png);
}

.dark.pawn {
  content: url(/image/dark_pawn.png);
}